.background {
    fill: none;
    pointer-events: all;
}

.block {
    background-color: palegreen;
    width: 80%;
    height: 200px;
    margin: 0 auto;
    bottom: 10%;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 12px sans-serif;
    background: white;
    border-radius: 8px;
    pointer-events: none;
}

#border {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
}

#container1 {
margin-left: 900px;
    padding: 10px;
}

#graph {
    width: 100%;
    height: 600px;
}

#lakes {
    fill: #b3b3f3;
}

#municipalities {
    fill: #e3e3e3;
    box-shadow: 1px 1px 1px #bbb;
}

#municipalities :hover {
    fill: #c7c7c7;
}

#municipalities .active {
    border: 1px solid;
    fill: orange;
}

#muniText {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


